<table width="98%">
	<th>Filename</th><th>Output</th><th>Launched</th>
	<% if @simulations.length != 0 %>
		<% for s in @simulations -%>
			<tr class="<%= cycle('odd', 'even') %>" id="<%= s.id %>">
				<td><%= s.filename %></td>
				<td>
					<%= link_to_remote 	s.output,
										{:url => { :controller => :output_analyzer, :action => :select_simulation, :output => s.output},
										:before => "loading('right_column')",
										:update => "right_column"}
					%>
				</td>
				<td><%= s.created_at.to_s(:my_date) %></td>
			</tr>
		<% end -%>
	<% else %>
		<tr class="odd"><td colspan="8">No simulation completed!</td></tr>
	<% end %>
</table>
